@{
    ViewData["Title"] = "Мобильное";
}


    <div class="auth-container" id="calculatorBox">
        <div class="container auth-box">
            <a class="btn-dowload-app btn btn-primary" href="~/download/GeoGeometry.GeoGeometry-Signed.apk">Загрузить приложение</a>
        </div>

    </div>   